<section class="block container domain--block">
    <header class="block__header">
        <h2>Starting at Per month</h2>
        <p class="domain__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sint praesentium
            veniam!</p>
    </header>
    <div class="input-group">
        <input type="text" placeholder="Enter domain name here..." class="input">
        <button class="btn btn--accent block__input-icon">
            <svg class="icon  icon--primary icon--small">
                <use xlink:href="images/sprite.svg#search"></use>
            </svg> search
            <!-- <button class="btn btn--accent">Search</button> -->
        </button>

    </div>
    <ul class="list domain__list">
        <li><span class="badge badge--secondary">.com $9</span></li>
        <li>.sg $10</li>
        <li>.space $11</li>
        <li>.info $14</li>
        <li>.net $10</li>
        <li>.xyz $10</li>

    </ul>

</section>