<section class="block block--dark showcase block--skewed-right">
    <header>
        <h2 class="block__header  media--white">User-Friendly Control Panel</h2>
    <header>
    <div class="grid grid--1X2 showcase">
        <picture  class="block-showcase__image">
            <source
                type="image/webp"
                srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"
            />
            <source
                type="image/jpg"
                srcset="images/ipad.jpg 1x, images/ipad@2x.jpg 2x"
            />
            <img src="images/ipad@2x.jpg" alt="" />
        </picture>

        <div class="showcase__media">
            <div class="media">
                <div class="media__image">
                    <svg class="icon  icon--primary icon--secondary">
                        <use xlink:href="images/sprite.svg#snap"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title  media--white">Easy Start & Managed Updates</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit corporis ex ab quaerat aliquid? Fuga.</p>
                </div>
            </div>

            <div class="media">
                <div class="media__image">
                    <svg class="icon  icon--primary icon--secondary">
                        <use xlink:href="images/sprite.svg#snap"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title  media--white">Easy Start & Managed Updates</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit corporis ex ab quaerat aliquid? Fuga.</p>
                </div>
            </div>

            <div class="media">
                <div class="media__image">
                    <svg class="icon  icon--primary icon--secondary">
                        <use xlink:href="images/sprite.svg#snap"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title  media--white">Easy Start & Managed Updates</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit corporis ex ab quaerat aliquid? Fuga.</p>
                </div>
            </div>
        </div>

        

    </div>
    
</section>